body {
    padding: 0;
    margin: 0;
}

.container {
    padding: 10px;
    /* border: 1px solid black; */
    width: 400px;
    margin: 0 auto;
    /* margin-top: 50px; */
}

.feeling-styling {
    padding: 10px;
    margin: 5px;
    border: 1px solid black;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.highlight{
    background-color: purple;
    color: gold;
    font-weight: bold;
    accent-color: gold;
}

.get-img-btn {
    color: gold;
    background-color: purple;
    border: none;
    padding: 10px 20px;
    font-weight: bold;
}

.meme-modal{
    display: none; 
    position: fixed;
    margin: auto;
    top: 80px;
    left: 0;
    right: 0;
    align-items: center;
    justify-content: center;
    border: 1px solid #67595e;
    border-radius: 5px;
    width: 420px;
    height: 490px;
    background-color: #fff0ee;
}
