body {
    padding: 0;
    margin: 0;
}

.container {
    padding: 50px;
    /* border: 1px solid black; */
    width: 400px;
    margin: 0 auto;
    margin-top: 50px;
}

.feeling-styling {
    padding: 10px;
    margin: 5px;
    border: 1px solid black;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}